*{
    margin: 0;
    padding: 0;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#btn{
    border-radius: 10px;
    width: 100px;
    height: 55px;
    background-color:black;
    color: white;
    cursor:pointer;
}

/* #btn:hover{
    background-color: white;
    color:black;
} */