*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("forest.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.login{
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}

.login p{
    font-size: 32px;
    text-align: center;
}

.ip-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.ip-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.ip-box input::placeholder{
    color: white;
}

.ip-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.rem-pas{
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin: -15px 0 15px;
}

.rem-pas label input{
    accent-color: white;
    margin-right: 3px;
}

.rem-pas a{
    color: white;
    text-decoration: none;
}

.rem-pas a:hover{
    text-decoration: underline;
}

.btn button{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.register p{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}